@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Overpass:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color-scheme: dark;
}

a:hover svg #spotifyPath {
    fill: black;
    animation: changeFill 0.2s ease-in-out;
}

a svg #spotifyPath {
    transition: fill 0.2s ease-in-out;
    animation: changeFillReverse 0.2s ease-in-out;
}

@keyframes changeFill {
    from {
        fill: white; 
    }
    to {
        fill: black; 
    }
}

@keyframes changeFillReverse {
    from {
        fill: black;
    }
    to {
        fill: white;
    }
}