@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Overpass:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color-scheme: dark;
}

main-gradient {
    background: rgb(20,52,25);
    background: radial-gradient(circle, rgba(20,52,25,1) 0%, rgba(6,31,9,1) 34%, rgba(13,33,14,1) 71%, rgba(29,5,54,1) 100%);
}